<configuration>
  <system.web>
    <customErrors allowNestedErrors="true" mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode node_env="production" loggingEnabled="true" debuggingEnabled="false" nodeProcessCommandLine="C:\nvm4w\nodejs\node.exe --no-deprecation" />
    <rewrite>
      <rules>
        <clear />
        <rule name="node.js" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="2147483648" />
        <verbs>
          <add verb="PATCH" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="HEAD" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
          <add verb="PUT" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
