---
title: ValidationResult
description: Represents the outcome of a file validation process.
---

# ValidationResult

Defined in: packages/headless-uploader/src/types/validation.ts:7

Validation result for one or more files

## Properties

### errors

> **errors**: [`ValidationError`](/uploader/docs/api/validation/ValidationError)[]

Defined in: packages/headless-uploader/src/types/validation.ts:11

List of validation errors, if any

***

### valid

> **valid**: `boolean`

Defined in: packages/headless-uploader/src/types/validation.ts:9

Whether all files passed validation
